<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Slick Blog | {{title}}</title>
	<link rel="stylesheet" type="text/css" href="../css/template.css">
	<link rel="stylesheet" type="text/css" href="../css/fonts.css">
	<link rel="stylesheet" type="text/css" href="../css/basic.css">
	<link rel="stylesheet" type="text/css" href="../css/post.css">
</head>
<body>
	<header id="header" class="box-shadow-outer">
		<div id="header-left" class="header-box">
			<a href="../" id="page-title" class="centerY">
				<h1><strong>Slick Blog</strong></h1>
			</a>
		</div>
		<div id="header-right" class="header-box">
			<nav class="centerY">
				<a href="../"><div>Home</div></a>
				<a href="../about"><div>About</div></a>
				<a href="../posts-all"><div>All Posts</div></a>
			</nav>
		</div>
	</header>

	<div id="main">
		<div id="post-container" class="box-shadow-outer">
			<div class="post-image-container">
				<img src={{imageURL}}>
			</div>

			<div class="post-data">
				<div class="post-title"><h2>{{title}}</h2></div>
				<div class="post-date">Posted on {{date}}</div>
				<div class="post-body">{{body}}</div>
			</div>
		</div>
	</div>

	<footer id="footer">
		<nav>
			<a href="../"><div>Home</div></a>
			<a href="../about"><div>About</div></a>
			<a href="../posts-all"><div>All Posts</div></a>
		</nav>

		<div id="copyright">
			{{!-- <img class="logo" src="./images/logos/logo_white.png"> --}}
			<p>&copy; 2018 <i>Slick Blog</i></p>
		</div>


		<div id="author">
			<p>Website by Markas Aisparas</p>
		</div>
	</footer>
</body>
</html>